* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

svg {
  width: 20px;
}

button {
  border: none;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.active {
  box-shadow: 0px 0px 5px #0d81ec;
  border-radius: 10px;
  background-color: #0d81ec;
}

body {
  background: #111112;
  max-width: 100vw;
  height: 100%;
  position: relative;
  padding-left: 90px;
  padding-top: 70px;
  padding-right: 10px;
  overflow-x: hidden;
}

.contenedor_perfil {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  z-index: 1000;
}
.contenedor_perfil .buscar {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contenedor_perfil .buscar input[type=search] {
  width: 400px;
  position: relative;
  background: #111112;
  color: white;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
  padding: 6px 3px 8px 30px;
  transition: border-bottom ease 0.5s;
}
.contenedor_perfil .buscar input[type=search]:hover {
  border-bottom: 2px solid #0d81ec;
  border-top: 0 solid #0d81ec;
  border-right: 0 solid #0d81ec;
  border-left: 0 solid #0d81ec;
  box-shadow: 2px 1px 1px #0d81ec;
}
.contenedor_perfil .buscar input[type=search]:focus {
  border-bottom: 2px solid #0d81ec;
  border-top: 0 solid #0d81ec;
  border-right: 0 solid #0d81ec;
  border-left: 0 solid #0d81ec;
  box-shadow: 2px 1px 1px #0d81ec;
}
.contenedor_perfil .buscar .img_lupa {
  position: absolute;
  left: 6px;
  width: 20px;
  stroke: white;
}
.contenedor_perfil .notificaciones {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  position: absolute;
  right: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor_perfil .notificaciones .img_notifi {
  width: 30px;
  stroke: white;
}
.contenedor_perfil .notificaciones .img_notifi:hover {
  stroke: #0d81ec;
  cursor: pointer;
}
.contenedor_perfil .notificaciones .content_emergent_notificaciones {
  position: fixed;
  top: 0;
  right: -1000px;
  background: #111112;
  color: white;
  width: 250px;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
  transition: right 0.7s ease;
  z-index: 1000;
}
.contenedor_perfil .perfilContent {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  position: absolute;
  top: 0;
  right: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: rigth ease 0.5s;
}
.contenedor_perfil .perfilContent .titulo_text {
  font-size: 14px;
  margin-right: 12px;
  color: white;
}
.contenedor_perfil .perfilContent .content_emergent_perfil {
  position: fixed;
  top: 0;
  right: -1000px;
  background: #111112;
  color: white;
  width: 250px;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
  transition: right 0.9s ease;
  z-index: 2000;
}
.contenedor_perfil .perfilContent img {
  width: 50px;
  border-radius: 50%;
}
.contenedor_perfil .perfilContent:hover .titulo_text {
  color: #0d81ec;
}
.contenedor_perfil .perfilContent:hover img {
  box-shadow: 0px 0px 2px 2px #0d81ec;
}

.contenedor_nav {
  position: fixed;
  width: 80px;
  height: 100%;
  left: 0;
  top: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid rgb(95, 95, 95);
  padding-right: 3px;
  background-color: #111112;
}
.contenedor_nav .nav_lateral {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
.contenedor_nav .nav_lateral .logo {
  width: 50px;
  filter: invert(100%);
}
.contenedor_nav .nav_lateral .nav_iconos {
  position: relative;
  top: -40px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v {
  margin: 10px 0;
  height: 40px;
  padding: 5px 8px 3px 8px;
  position: relative;
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v .img_iconos {
  width: 28px;
  filter: invert(100%);
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v:hover {
  box-shadow: 0px 0px 5px #0d81ec;
  border-radius: 10px;
  background-color: #0d81ec;
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v:hover .info {
  display: inline-block;
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v .info {
  display: none;
  color: #0d81ec;
  text-shadow: 0px 0px 4px #0d81ec;
  position: absolute;
  top: 12px;
  right: -145px;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (max-width: 900px) {
  body {
    padding-left: 0px;
  }
  .contenedor_perfil {
    display: none;
  }
  .contenedor_nav {
    background-color: #111112;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    z-index: 1000;
  }
  .contenedor_nav .nav_lateral {
    position: absolute;
    left: 0;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0 0 0;
  }
  .contenedor_nav .nav_lateral .nav_iconos {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 100%;
    position: relative;
    top: 0;
  }
  .contenedor_nav .nav_lateral .nav_iconos .iconos_v {
    margin: 0 15px;
  }
  .contenedor_nav .nav_lateral .nav_iconos .iconos_v:hover .info {
    display: none;
  }
}
@media (max-width: 600px) {
  .contenedor_nav .nav_iconos .iconos_v {
    margin: 0 2px;
  }
}
.content_carta_contenido {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.content_carta_contenido .contenedor_carta_recorrer {
  width: 200px;
  height: 300px;
  background-color: #1b1b1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 10px 5px;
  padding: 15px 0;
  color: white;
}
.content_carta_contenido .contenedor_carta_recorrer .imagen_carta_recorrer {
  max-width: 70%;
}
.content_carta_contenido .contenedor_carta_recorrer .nombre_carta_recorrer {
  padding: 0 10px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  white-space: nowrap;
  letter-spacing: 1px;
}
.content_carta_contenido .contenedor_carta_recorrer .detalles_carta_recorrer {
  font-size: 1em;
  background-color: #d9d9e3;
  padding: 5px 20px;
  border-radius: 10px;
  color: #0d81ec;
}
.content_carta_contenido .contenedor_carta_recorrer .detalles_carta_recorrer:hover {
  background-color: #0d81ec;
  box-shadow: 0px 0px 5px #0d81ec;
  color: white;
}/*# sourceMappingURL=juegos.css.map */