@import '../../../reutilizables/variables';
// @include displayFlex;

.active
{
        box-shadow: 0px 0px 5px $color_selecionado;
        border-radius: 10px;
        background-color: $color_selecionado;
}

@import '../../../reutilizables/lateralysuperior';
@import '../../../reutilizables/card'


