* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

svg {
  width: 20px;
}

button {
  border: none;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.active {
  box-shadow: 0px 0px 5px #0d81ec;
  border-radius: 10px;
  background-color: #0d81ec;
}

body {
  background: #111112;
  max-width: 100vw;
  height: 100vh;
  position: relative;
  padding-left: 90px;
  padding-top: 70px;
  padding-right: 10px;
}

.contenedor_perfil {
  position: fixed;
  top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  z-index: 1000;
}
.contenedor_perfil .buscar {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contenedor_perfil .buscar input[type=search] {
  width: 400px;
  position: relative;
  background: #111112;
  color: white;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
  padding: 6px 3px 8px 30px;
  transition: border-bottom ease 0.5s;
}
.contenedor_perfil .buscar input[type=search]:hover {
  border-bottom: 2px solid #0d81ec;
  border-top: 0 solid #0d81ec;
  border-right: 0 solid #0d81ec;
  border-left: 0 solid #0d81ec;
  box-shadow: 2px 1px 1px #0d81ec;
}
.contenedor_perfil .buscar input[type=search]:focus {
  border-bottom: 2px solid #0d81ec;
  border-top: 0 solid #0d81ec;
  border-right: 0 solid #0d81ec;
  border-left: 0 solid #0d81ec;
  box-shadow: 2px 1px 1px #0d81ec;
}
.contenedor_perfil .buscar .img_lupa {
  position: absolute;
  left: 6px;
  width: 20px;
  stroke: white;
}
.contenedor_perfil .notificaciones {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  position: absolute;
  right: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor_perfil .notificaciones .img_notifi {
  width: 30px;
  stroke: white;
}
.contenedor_perfil .notificaciones .img_notifi:hover {
  stroke: #0d81ec;
  cursor: pointer;
}
.contenedor_perfil .notificaciones .content_emergent_notificaciones {
  position: fixed;
  top: 0;
  right: -1000px;
  background: #111112;
  color: white;
  width: 250px;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
  transition: right 0.7s ease;
  z-index: 1000;
}
.contenedor_perfil .perfilContent {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  position: absolute;
  top: 0;
  right: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: rigth ease 0.5s;
}
.contenedor_perfil .perfilContent .titulo_text {
  font-size: 14px;
  margin-right: 12px;
  color: white;
}
.contenedor_perfil .perfilContent .content_emergent_perfil {
  position: fixed;
  top: 0;
  right: -1000px;
  background: #111112;
  color: white;
  width: 250px;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
  transition: right 0.9s ease;
  z-index: 2000;
}
.contenedor_perfil .perfilContent img {
  width: 50px;
  border-radius: 50%;
}
.contenedor_perfil .perfilContent:hover .titulo_text {
  color: #0d81ec;
}
.contenedor_perfil .perfilContent:hover img {
  box-shadow: 0px 0px 2px 2px #0d81ec;
}

.contenedor_nav {
  width: 80px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid rgb(95, 95, 95);
  padding-right: 3px;
}
.contenedor_nav .nav_lateral {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
.contenedor_nav .nav_lateral .logo {
  width: 50px;
  filter: invert(100%);
}
.contenedor_nav .nav_lateral .nav_iconos {
  position: relative;
  top: -40px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v {
  margin: 10px 0;
  height: 40px;
  padding: 5px 8px 3px 8px;
  position: relative;
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v .img_iconos {
  width: 28px;
  filter: invert(100%);
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v:hover {
  box-shadow: 0px 0px 5px #0d81ec;
  border-radius: 10px;
  background-color: #0d81ec;
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v:hover .info {
  display: inline-block;
}
.contenedor_nav .nav_lateral .nav_iconos .iconos_v .info {
  display: none;
  color: #0d81ec;
  text-shadow: 0px 0px 4px #0d81ec;
  position: absolute;
  top: 12px;
  right: -145px;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (max-width: 900px) {
  body {
    padding-left: 0px;
    padding-top: 100px;
  }
  .contenedor_nav {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    justify-content: center;
  }
  .contenedor_nav .nav_lateral {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  .contenedor_nav .nav_lateral .logo {
    display: none;
  }
  .contenedor_nav .nav_lateral .nav_iconos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}
.contenedor_mejor_contenido {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(53, 53, 53, 0.728) 100%);
  width: 90%;
  min-width: 700px;
  height: 230px;
  margin: 10px auto;
  border-radius: 25px;
  border: solid 1px rgba(255, 255, 255, 0.097);
  box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 0.152);
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: none;
}
.contenedor_mejor_contenido .info_mejor_contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto 1 1;
  animation: fadeInDown;
  animation-duration: 1s;
  text-align: center;
}
.contenedor_mejor_contenido .info_mejor_contenido .text_titulo_info {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}
.contenedor_mejor_contenido .info_mejor_contenido .descripcion_info {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  margin: 8px 0;
}
.contenedor_mejor_contenido .info_mejor_contenido .btn_comprar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: -moz-max-content;
  height: max-content;
  padding: 7px 7px;
  border-radius: 20px;
  margin-top: 10px;
  background: #111112;
  cursor: pointer;
}
.contenedor_mejor_contenido .info_mejor_contenido .btn_comprar .text_precio {
  margin-left: 10px;
}
.contenedor_mejor_contenido .info_mejor_contenido .btn_comprar .comprar_btn {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background: #0d81ec;
  padding: 12px 20px;
  border-radius: 13px;
}
.contenedor_mejor_contenido .info_mejor_contenido .btn_comprar .comprar_btn:hover {
  box-shadow: 0px 0px 5px #0d81ec;
}
.contenedor_mejor_contenido .logo_mejor_contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto 1 1;
}
.contenedor_mejor_contenido .logo_mejor_contenido .logo_mejor_contenido {
  display: inline-block;
  max-width: 400px;
  animation: swing;
  animation-duration: 1s;
  filter: drop-shadow(1px 1px 15px rgb(0, 0, 0));
}

.contenedor_juegos_comic {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.contenedor_juegos_comic .contenedor_comic {
  flex: auto 1 1;
  height: 100%;
  max-height: 300px;
  min-width: 230px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(53, 53, 53, 0.728) 100%);
  border: solid 1px rgba(255, 255, 255, 0.097);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin-right: 10px;
}
.contenedor_juegos_comic .contenedor_comic .env_peliculas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  margin: 10px 50px 0;
}
.contenedor_juegos_comic .contenedor_comic .env_peliculas .peliculas_flecha {
  width: 30px;
  height: -moz-max-content;
  height: max-content;
  stroke: #ffffff;
  margin-right: -30px;
}
.contenedor_juegos_comic .contenedor_comic .contenedor_carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.contenedor_juegos_comic .contenedor_comic .contenedor_carta #imagen_comic {
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.contenedor_juegos_comic .contenedor_comic .contenedor_carta #genero_comic {
  color: white;
  margin-bottom: 5px;
  font-size: 8px;
}
.contenedor_juegos_comic .contenedor_comic .contenedor_carta #nombre_comic {
  color: white;
  margin-bottom: 5px;
}
.contenedor_juegos_comic .contenedor_comic .contenedor_carta #ver_mas_comic {
  width: 63%;
  padding: 5px;
  border-radius: 7px;
  background-color: #0d81ec;
  color: white;
  font-weight: 700;
}
.contenedor_juegos_comic .contenedor_juegos {
  flex: auto 9 1;
  height: 100%;
  max-height: 300px;
  min-width: 420px;
  margin-left: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(53, 53, 53, 0.728) 100%);
  border: solid 1px rgba(255, 255, 255, 0.097);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 10px 0;
}
.contenedor_juegos_comic .contenedor_juegos .env_peliculas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  margin: 0px 50px 0;
}
.contenedor_juegos_comic .contenedor_juegos .env_peliculas .peliculas_flecha {
  width: 30px;
  height: -moz-max-content;
  height: max-content;
  stroke: #ffffff;
  margin-right: -30px;
}
.contenedor_juegos_comic .contenedor_juegos .juegos {
  width: 95%;
  height: 85%;
  display: flex;
  flex-direction: row;
  margin: 5px auto 0;
}
.contenedor_juegos_comic .contenedor_juegos .juegos #juegos_contenedor1, .contenedor_juegos_comic .contenedor_juegos .juegos #juegos_contenedor2, .contenedor_juegos_comic .contenedor_juegos .juegos #juegos_contenedor3 {
  width: 100px;
  height: 235px;
  min-width: 170px;
  background-color: white;
  flex: auto 1 1;
  margin: 0 10px;
}/*# sourceMappingURL=style.css.map */