@import '../reutilizables/variables';
// @include displayFlex;

.active
{
        box-shadow: 0px 0px 5px $color_selecionado;
        border-radius: 10px;
        background-color: $color_selecionado;
}
@import '../reutilizables/lateralysuperior';

.contenedor_mejor_contenido
{
        position: relative;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(53, 53, 53, 0.728) 100%);
        // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        width: 90%;
        min-width: 700px;
        height: 230px;
        margin: 10px auto;
        border-radius: 25px;
        border: solid 1px rgba(255, 255, 255, 0.097);
        box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.23);
        color: white ;
        overflow: hidden;
        @include displayFlex(row, none, none);
        .info_mejor_contenido{
                @include displayFlex(column, center, center);
                flex: auto 1  1 ;
                animation: fadeInDown;
                animation-duration: 1s;
                text-align: center;
                .text_titulo_info{
                        font-family: "Ubuntu", sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 2em;
                }
                .descripcion_info{
                        font-family: "Ubuntu", sans-serif;
                        font-weight: 300;
                        font-style: normal;
                        font-size: 1.5em;
                        margin: 8px 0;
                }
                .btn_comprar{
                        margin: 0 auto;
                        @include displayFlex(row, center, space-between);
                        width: 250px;
                        height: max-content;
                        padding: 7px 7px;
                        @include calcularRadio(7px, 13px);
                        margin-top: 10px;
                        background: $color_primario;
                        cursor: pointer;
                        .text_precio{
                                margin-left: 10px;
                        }
                        .comprar_btn{
                                width: max-content;
                                height: max-content;
                                background: $color_selecionado;
                                padding: 12px 20px;
                                border-radius: 13px;
                                &:hover{
                                        box-shadow: 0px 0px 5px $color_selecionado;
                                }
                        }
                }
        }
        .logo_mejor_contenido{
                display: flex;
                justify-content: center;
                align-items: center;
                flex: auto 1 1 ; 
                .logo_mejor_contenido{
                        display: inline-block;
                        max-width: 400px;
                        animation: swing;
                        animation-duration: 1s;
                        filter: drop-shadow(1px 1px 10px rgb(255, 255, 255));
                }
        }
}

.contenedor_juegos_peliculas
{
        width: 90%;
        height: 50%;
        // background: rgb(122, 122, 122);
        margin: 0 auto;
        @include displayFlex(row, center, space-between);
        margin-top: 25px;
        .contenedor_peliculas
        {
                width: 300px;
                height: 100%;
                background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(53, 53, 53, 0.728) 100%);        
                border: solid 1px rgba(255, 255, 255, 0.097);
                box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.23);
                border-radius: 20px;
                .env_peliculas
                {
                        @include displayFlex(row, center, space-between);
                        font-size: 1.2em;
                        margin: 25px 50px 0 ;
                        .peliculas_flecha
                        {
                                width: 30px;
                                height: max-content;
                                stroke:#ffffff;
                                margin-right: -30px;
                        }
                }
        }
        .contenedor_juegos
        {
                width: 70%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(53, 53, 53, 0.728) 100%);        
                border: solid 1px rgba(255, 255, 255, 0.097);
                box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.23);
                border-radius: 20px;
        }
}
